* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-border: 1 px solid black;
    --secondary-border: 1px solid rgb(0 0 0 / .2);
    --primary-text-color: darkblue;
    --secondary-text-color: white;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: steelblue;
    padding: 20px;
}

nav a {
    color: var(--secondary-text-color);
    display: block;
    padding: 10px;
    font-size: large;
}

h1 {
    color: var(--primary-text-color);
    margin: .5rem;
}

main img {
    width: 150px;
    height: 200px;
    border: var(--primary-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

main {
    max-width: 840px;
}

p {
    margin: 1rem;
}

aside {
    width: 23rem;
    color: #383838;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 80px;

}

aside img {
    width: 300px;
    height: 200px;
}

ul li {
    padding: 5px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}