* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;

}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

header {
    background-color: #333333;
    color: white;
    padding: 0.25em;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

section {
    margin: 2em 0;
    background-color: #dddddd;
    padding: 1rem;
}

section h2 {
    text-align: left;
    border-bottom: solid #000 1px;

}

footer {
    background-color: #333333;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 1rem;

}